
#language_label {
    color: black;
    font-size: 20px;
    font-family: "New Century Schoolbook", Times, serif;
    margin-top: 6px;
}

#language_choose_eventbox {
    border-radius: 30px;
    background: rgb(223,196,245);
    background: linear-gradient(90deg, rgba(223,196,245,1) 0%, rgba(241,200,245,1) 100%);
}
#language_choose_eventbox:hover {
    animation-name: gradient;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
