#chat_background {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(231,231,231,1) 63%, rgba(193,193,193,1) 100%);
    padding-bottom: 10px;
}

#room_header {
    background: white;
}
#room_header_title {
    color: #1f1f1f;
    font-size: 20px;
    font-family: "New Century Schoolbook", Times, serif;
    font-style: italic;
    margin-left: -115px;
}

#day_info_show {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#usr_message {
    background: #1f1f1f;
    color: #e1e1e1; 
    border-radius: 12px;
}

#message {
    color: #e1e1e1;
    background: #3a3939;
    border-radius: 12px;
}

#sender_name {
    font-style: italic;
    text-decoration: underline solid #e1e1e1;
}

#attach_entry {
    box-shadow: none;
    background: #1f1f1f;
    border: 1px solid #e1e1e1;
    color:#e1e1e1;
    border-radius: 8px;
    transition: all .2s;
}
#attach_entry:hover {
    border: 2px solid #e1e1e1;
    border-radius: 12px;
}

#more_box {
    background-color: white;
    border: 1px solid #1f1f1f;
}

#stickers_eventbox {
    background-image: url("../../img/happy.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #e1e1e1;
    transition: all ease-in-out .3s;
}
#stickers_eventbox:checked {
    background-image: url("../../img/happy-selected.png");
    border-bottom: 1px solid #416ef2;
    transition: all ease-in-out .3s;
}

#stickers_label {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1f1f1f;
    font-size: 18px;
    transition: all ease-in-out .1s;
}
#stickers_label:checked {
    color: #416ef2;
}

#eventbox_image {
    border-radius: 12px;
    transition: all 0.3s;
}
#eventbox_image:hover {
    border: 1px solid #416ef2;
}
