
#language_label {
    color: #e1e1e1;
    font-size: 20px;
    font-family: "New Century Schoolbook", Times, serif;
    margin-top: 6px;
}

#language_choose_eventbox {
    border-radius: 30px;
    background: #1f1f1f;
}
#language_choose_eventbox:hover {
    animation-name: gradient;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
